:root {
    --line-height: 40px;
    --button-width: 20%;
}

.searchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 20px;
}

label {
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
}

input {
    flex-grow: 2; /* Aprovechar espacio disponible */
    border: 0;
    border-bottom: 2px solid gold;
    height: var(--line-height);
    width: calc(100% - var(--button-width));
    font-size: 2rem;
    text-align: center;
}

input:focus {
    outline: none; /* Ocultar marco azul al hacer foco */
}

input::placeholder {
    color: gold;
    font-style: italic;
}

input:not(:placeholder-shown) {
    color: orange;
}

button {
    border: none;
    border-radius: 10px;
    height: var(--line-height);
    width: var(--button-width);
    color: white;
    background: orange;
    font-size: 1.5rem;

}
